@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #131522;
	overflow-x: hidden;
	margin: 25vh 150px 0 150px;
	transition: 0.5s;
	position: relative;
}
body::-webkit-scrollbar{
    width: 7px;
}
body::-webkit-scrollbar-thumb{
    background-color: #2F3241;
    border-radius: 5px;
}
.main-content{
	width: 100%;
	height: 100%;
	position: relative;
}
.menu-section h1{
	text-align: center;
	font-size: 65px;
	color: #fff;
}
.intro-text{
	text-align: center;
	font-size: 20px;
	color: #fff;
	margin: 50px 150px;
}
.filter-section{
	margin-top: 70px;
	text-align: center;
	background-color: #171b31;
	padding: 30px 0px;
	border-radius: 15px;
	margin-bottom: 30px;
}
.rover-selection, .date-selection , .pov-selection, .find-button{
	display: inline-block;
	margin-right: 25px;
	position: relative;
	transition: 1s all;
}
.rover-selection{
	margin-right: 0;
}
.rover-selection p{
	display: inline-block;
	padding: 25px 60px;
	background-color: #2F3241;
	border-radius: 20px;
	color: #fff;
	font-size: 20px;
	cursor: pointer;
}
.rover-selection p:first-child{
	margin-right: 30px;
}
.active{
	background-color: #9a00ff !important;
}
input[type=date]{
	padding: 22.5px 60px;
	background-color: #2F3241;
	border-radius: 20px;
	color: #fff;
	font-size: 20px;
	cursor: pointer;
}
input[type="date"]::-webkit-inner-spin-button,::-webkit-calendar-picker-indicator{
    filter: drop-shadow(16px 16px 20px rgb(255, 255, 255)) invert(100%);
}
.rover-selection input{
	display: none;
}
.pov-selection select{
	padding: 25px 50px 25px 50px;
	background-color: #2F3241;
	border-radius: 20px;
	color: #fff;
	font-size: 20px;
	cursor: pointer;
}
.find-button{
	border-radius: 15px;
	background-color: #9a00ff;
	padding: 20px 15px;
	cursor: pointer;
}
.find-button label{
	padding: 16px;
	cursor: pointer;
}
.find-img{
	width: 30px;
	background-color: transparent;
	margin: -10px 10px;
	cursor: pointer;
}
select{
	background-image: url() ; /*aquí deberás escribir la ruta de la imagen que utilizarás como flecha del desplegable*/
	background-repeat: no-repeat;
	background-position: right center;
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	appearance: none;
	cursor: pointer;
}
select::-ms-expand {
	display: none; /*Evita que se muestre la flecha por defecto en versiones de IE*/
}
.arrow{
	position: absolute;
	right: 20px;
	top: 20px;
	cursor: pointer;
}
#pov-select-curiosity{
	display: none;
}
.column-element{
	background-color: #2F3241;
	margin: 15px;
	padding: 10px;
	border-radius: 15px;
}

.activeImg{
	position: fixed;
	width: auto;
	height: auto;
	padding: 15px;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	z-index: 5;
}

.activeImg > img{
	display: block;
	max-width: 900px;
	max-height: 800px;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	object-fit: contain;
	margin: auto;
}

.popUpImgActive{
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.456);
	z-index: 3;
}

.img-column{
	width: 100%;
	height: 100%;
	border-radius: 15px;
	cursor: pointer;
}
.go-up{
	position: fixed;
	bottom: 30px;
	right: 30px;
	background-color: #9a00ff;
	border-radius: 15px;
	width: 60px;
	height: 60px;
	cursor: pointer;
	opacity: 0;
	transition: 0.5s;
}
.go-up img{
	width: 100%;
	margin-top: -2px;
	transform: rotate(180deg);
}
#search-result-box{
	display: none;
}
.number-of-results p{
	color: #fff;
	font-size: 18px;
	font-weight: 400;
	text-align: center;
	margin: 50px 0px 30px 0px;
}
@media only screen and (max-width: 1440px){
	.pov-selection{
		margin-top: 30px;
	}

	.column-element{
		margin: 15px 0;
	}
}
@media only screen and (max-width: 1024px){
	.intro-text{
		margin: 50px 20px;
	}
	body{
		margin: 15vh 100px 15vh;
	}
	.rover-selection p:first-child {
		margin-right: 15px;
	}
	.rover-selection p:first-child {
    margin-right: 15px;
	}
	.rover-selection p{
		padding: 25px 40px;
	}
	#perseverance{
		margin-left: 25px;
	}
	.pov-selection select{
		margin-left: 30px;
	}
	.column-element{
		margin: 25px 0;
	}
	.go-up{
		bottom: 20px;
    	right: 20px;
	}
}
@media only screen and (max-width: 768px){
	.rover-selection p{
		padding: 25px 60px;
	}
	input[type="date"]{
		margin-top: 30px;
		width: 65%;
		margin-left: 30px;
	}
	.date-selection{
		display: block;
		margin-left: 0;
	}
	.pov-selection select{
		margin-left: 30px;
		padding: 25px 35px;
	}
	.find-button{
		width: 50%;
    	margin: 30px 0;
	}
}
@media only screen and (max-width: 425px){
	body{
		margin: 15vh 50px 15vh;
	}
	.menu-section h1{
		font-size: 35px;
	}
	.intro-text{
		margin: 30px 20px;
		font-size: 18px;
	}
	.filter-section{
		margin-top: 50px;
	}
	#curiosity{
		margin-left: 25px;
		margin-top: 15px;
		padding: 25px 85px !important;
	}
	input[type="date"]{
		width: auto;
		padding: 22.5px 40px;
	}
	.pov-selection select{
		width: 250px;
	}
}
@media only screen and (max-width: 375px){
	.rover-selection p{
		padding: 25px 40px;
	}
	#curiosity{
		padding: 25px 65px !important;
	}
	input[type="date"]{
		padding: 22.5px 20px;
	}
	.pov-selection select{
		width: 220px;
		font-size: 18px;
		padding: 25px 0px 25px 20px;
	}
}
@media only screen and (max-width: 320px){
	body{
		margin: 15vh 20px;
	}
}

